/* nav - start */ 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: inline-block;
  padding: 6px;
  font-size: 32px;
}
/* nav - end */ 

/* burger menu - start */
#burgerMenuContainer {
  display: inline-block;
  margin: 6px;
}

#bar1, #bar2, #bar3 {
  width: 35px;
  height: 5px;
  background-color: #4285F4;
  /* background-color: #1abc9c; */
  margin: 6px 0;
  transition: 0.4s;
}

/* burger menu - on-click transition to X */
.changeMenu #bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.changeMenu #bar2 {opacity: 0;}

.changeMenu #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* toggle menu display on-burger-menu-click */
#menuContainer {
  display: none; /* starts with display: none;, toggle triggered in burgerToX function */
}
/* burger menu - end */

/* toggle patient form */

#patientInputForm {
  display: none; /* starts with display: none;, toggle triggered in burgerToX function */
}


/* RADIO BUTTON STYLING RESOURCE https://blog.bitsrc.io/customise-radio-buttons-without-compromising-accessibility-b03061b5ba93*/
form {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.9fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

#selectDrugNote {
  /* border: 1px solid purple; */
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: flex;
  align-self: center;
  /* padding-left: 8px; */
  font-weight: bold;
  margin-top: 6px;
  /* background-color: rgba(244, 177, 66, 0.1); */
  /* background-color: rgba(222, 244, 66, 0.1); */
  /* background-color: rgba(88, 66, 244, 0.1); */
  background-color: rgba(66, 133, 244, 0.1);
}

#selectDrug {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  margin-top: 6px;
}

#selectIndication {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  margin-bottom: 6px;
}

#hdContainer {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 0px;
  margin-bottom: 6px;
  /* background-color: rgba(222, 244, 66, 0.1); */
  /* background-color: rgba(88, 66, 244, 0.1); */
  background-color: rgba(66, 133, 244, 0.1);
}

#hdContainer #hdLabel {
  /* border: 1px solid purple; */
  grid-column: 1 / 2;
  /* grid-row: 4 / 5; */
  display: flex;
  align-self: center;
  padding: 10px;
  /* padding-left: 8px; */
  /* padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px; */
  
}
#hdContainer #hdRadio {
  grid-column: 2 / 3;
  /* grid-row: 4 / 5; */
  display: flex;
  align-self: center;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
}
#hdRadio {
  margin-bottom: 0px !important ;
}

#calculateNote {
  /* border: 1px solid purple; */
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  display: flex;
  align-self: center;
  /* padding-left: 8px; */
  font-weight: bold;
  margin-bottom: 6px;
  /* background-color: rgba(222, 244, 66, 0.1); */
  /* background-color: rgba(88, 66, 244, 0.1); */
  background-color: rgba(66, 133, 244, 0.1);
}

#sexLabel {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  display: flex;
  align-self: center;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
}
#sexRadio {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  display: flex;
  align-self: center;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

#ageInput {
  grid-column: 2 / 3;
  grid-row: 7 / 8; 
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  margin-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
}
#ageLabel {
  grid-column: 1 / 2;
  grid-row: 7 / 8; 
  display: flex;
  align-self: center;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

#weightInput {
  grid-column: 2 / 3;
  grid-row: 8 / 9; 
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  margin-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
}
#weightLabel {
  grid-column: 1 / 2;
  grid-row: 8 / 9; 
  display: flex;
  align-self: center;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

#creatinineInput {
  grid-column: 2 / 3;
  grid-row: 9 / 10; 
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  margin-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
  /* border: 1px solid purple; */
}
#creatinineLabel {
  grid-column: 1 / 2;
  grid-row: 9 / 10;  
  display: flex;
  align-self: center;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
  /* border: 1px solid purple; */
}

button {
  grid-column: 2 / 3;
  grid-row: 10 / 11;  
}

@media screen and (min-width: 768px) {
  body {
    width: 786px;
  }

  form {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.9fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
  }

}