#menuContainer li {
  list-style: none;
}

input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

select {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 3px;
  margin-right: 8px;
}

button {
  font-size: 16px;
  background-color: #4285F4;
  /* background-color: #1abc9c; */
  color: #F6F6F8;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 3px;
  margin-right: 8px;
}

#result {
  /* padding: 20px; */
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

#CrClResult {
  padding: 5px;
  /* color: #1abc9c; */
  color: #4285F4;
}

/* Table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 13%;
}

thead th:nth-child(2) {
  width: 5%;
}

thead th:nth-child(3) {
  width: 17%;
}

thead th:nth-child(4) {
  width: 18%;
}

thead th:nth-child(5) {
  width: 17%;
}

th {
  font-weight: bold;
  font-size: 110%;
}

.dose {
  /* color: #1abc9c; */
  color: #4285F4;
  font-weight: bold;
  font-size: 130%;
}

.notes {
  font-style: italic;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table {
  background-color: #F6F6F8;
}