<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); -%>
</head>

<body>

  <%- include('../partials/nav'); -%>
  <h2>About the Project</h2>
  <p>The Anti-Infective Dosage Calculator is a resource for healthcare providers to find the recommended antimicrobial dosage, given user inputted medication, indication, and patient-specific parameters.</p>
  <p>The web application was built by <a href="https://www.linkedin.com/in/ellenconley/">Ellen Conley</a>, Full Stack JavaScript and Java Devloper.  Luis G Tulloch, MD guided the development of the problem domain, user interface, and curated the dosing resources.</p>

  <%- include('../partials/scriptTags'); -%>
</body>
</html>