<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); -%>
</head>

<body>

  <%- include('../partials/nav'); -%>

  <main>
    <div class="card">
      <h2 id="patientParameters">Anti-Infective Dosage Calculator</h2>
      <%- include('../partials/form'); -%>
      <span></span>
    </div>
  </main>

  <%- include('../partials/scriptTags'); -%>
</body>

</html>