<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); -%>
</head>

<body>

  <%- include('../partials/nav'); -%>
  <h1>Technical Documentation</h1>
  <h2>Cockcroft-Gault Equation</h2>
  <p>Creatinine Clearance = Sex * ((140 - Age) / (Serumcreatinine)) * (Estimatedleanbodyweight / 72)</p>
  <h2>Renal Dosing Guidelines</h2>
  <p>The data for this project is currently in development and draws from both the UW Renal Dosing Guidelines and the 2016-2017 UCLA Health Adult Anti-Infective Dosing Guidelines. <a href="https://asp.mednet.ucla.edu/files/view/UCLAAdultDosingCard.pdf"></a></p>
  <h2>Source Code</h2>
  <p>The <a href="https://github.com/egconley/anti-infective-dosage-calculator">Anti-Infective Dosage Calculator</a> was built with JavaScript, jQuery, EJS, Node.js, Express, postgreSQL, HTML, and CSS. </p>
  <%- include('../partials/scriptTags'); -%>
</body>

</html>