<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); -%>
</head>

<body>

  <%- include('../partials/nav'); -%>
  <h1>technical...</h1>
  <%- include('../partials/scriptTags'); -%>
</body>

</html>