<nav>
    <h1>Anti-Infective Dosage Calculator</h1>
    <div id="menuItemContainer">
      <div id="burgerMenuContainer" onclick="burgerToX(this)">
        <div id="bar1"></div>
        <div id="bar2"></div>
        <div id="bar3"></div>
      </div>
      <div id="menuContainer">
        <ul>
          <li>About the Project</li>
          <li>Resources</li>
          <li>Technical Documentation</li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="appendMenu"></div>
