<nav>
    <h1>
      <a href="/">Anti-Infective Dosage Calculator</a>
    </h1>
    <div id="menuItemContainer">
      <div id="burgerMenuContainer" onclick="burgerToX(this)">
        <div id="bar1"></div>
        <div id="bar2"></div>
        <div id="bar3"></div>
      </div>
      <div id="menuContainer">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About the Project</a></li>
          <li><a href="/technical">Technical Documentation</a></li>
          <li><a href="/login">Admin Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="appendMenu"></div>
